<section class="home">
    <div id="blurry-filter"></div>
    <header>
        <div>
            <article id="title">
                <span class="parent">Find Appointments Here</span>
                <br/>
                <span class="name">Doctor Cloud</span>
            </article>
            <article id="reference">
                <div *ngIf="isAuthenticated; else signIn">
                    <a *ngIf="user?.type !== userTypes.USER; else signOut"
                       [routerLink]="user.roleId === userRoles.SUPER_ADMIN ? 'overview' :
                                        user.roleId === userRoles.ADMIN ? 'doctors' :
                                        'appointments'" rel="noopener">
                        <button mat-stroked-button>Admin</button>
                    </a>
                    <ng-template #signOut>
                        <a routerLink="sign-out">
                            <button mat-stroked-button>Sign Out</button>
                        </a>
                    </ng-template>
                </div>
                <ng-template #signIn>
                    <a [routerLink]="'sign-in'" rel="noopener">
                        <button mat-stroked-button>Sign In</button>
                    </a>
                </ng-template>
            </article>
        </div>
    </header>
    <section id="folders">
        <article routerLink="hospital">Hospitals</article>
        <article routerLink="all-doctors">Doctors</article>
    </section>
    <router-outlet></router-outlet>
    <footer></footer>

</section>
