.title {
  font-weight: 500;
  font-size: 20px;
}

.mat-table {
  width: 100% !important;
}
#doctor .mat-form-field {
  width: 100%;
}
mat-flat-button {
  width: 200px;
}

.edit-hospitals {
  height: 30px !important;
}
