.modal {
  height: 120px;
  width: 300px;
  border-radius: 10px;
}
.title {
  color: #FFFFFF;
  font-size: 17px;
  font-weight: 500;
}


.circle {
  width: 60px;
  height: 60px;
  padding: 15px;
  border-radius: 50%;
}

.icon-stat {
  color: white !important;
  font-size: 30px;
  width: 30px;
  height: 30px;
}
.stat {
  font-size: 35px;
  color: #FFFFFF;
  font-weight: 700;
}